<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>Registro</title>
        <link href="https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="\css\form.css"> 
        <link rel="stylesheet" href="\css\style.css">   
        <!--libreria hamburger-menu-->
        <link rel=stylesheet href=hamburger-menu.css>
        <script src=https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js></script>
        <script src=hamburger-menu.js></script>
    </head>


    <body>

        <header> 
            <div class="top-header">
                <div class="logo-form">
                    <div class="logo">
                        <a href="/" class="back-home"><img class="header" alt="Logo MercadoLiebre" src="\images\logo-mercado-liebre.svg"> </a>
                    </div>
                    <div class="form" action="#" method="GET"> 
                        <div class="input">
                            <input class="input2" type="text" placeholder="Buscar productos, marcas y más.." >
                            <i class="fa fa-search fa-lg"></i>
                        </div>
                    </div>
                    <div class="holding-hand">  
                        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                    </div>  
                </div>                                
            </div>
            <div class="navigation">
                <div class="link-venta">      
                        <a href="/ofertas">Ofertas</a>
                        <a href="/tiendas">Tiendas Oficiales</a>
                        <a href="/vender">Vender</a>
                        <a href="/ayuda">Ayuda</a>
                </div>
                <div class="link-login">
                        <p><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></p>
                        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                        <a href="carrito">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </div>
        </header>

        
            <div class="main-block"> 
                <h1> Crea tu cuenta </h1>
                <form action="/">
                    <div class="account">
                        <br>
                        <p class="txt-account">Selecciona tipo de cuenta:</p>
                        <br>
                        <input type="radio" value="none" class="radio-button" name="account">
                        <label class="radio-txt">Compra</label>
                        <input type="radio" value="none" class="radio-button" name="account">
                        <label class="radio-txt">Venta</label>
                        </div>
                        <br>
                        <div class="data-form">
                        <h2>Completa tus datos</h2>
                            <label id="icon" for="name"><i class="fas fa-user"></i></label>
                            <input type="text" name="name" id="name" placeholder="Nombre de Usuario" minlength="8" required/>
                        <br>
                            <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
                            <input type="password" name="name" id="name" placeholder="Contraseña" minlength="8" required/>
                        <br>
                            <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
                            <input type="password" name="name" id="name" placeholder="Confirmar contraseña" minlength="8" required/>
                        <br>
                            <label id="icon" for="name"><i class="fas fa-user"></i></label>
                            <input type="text" name="name" id="name" placeholder="Nombre y Apellido" required/>
                        <br>
                            <label id="icon" for="name"><i class="fas fa-user"></i></label>
                            <input type="text" name="name" id="name" placeholder="Dirección" required/>
                        <br>
                            <p><label id="icon" for="birthday"><i class="fas fa-user"></i></label>
                            Fecha de nacimiento:</p>
                            <input type="date" class="birthdate" id="birthday" name="birthday">
                        <br>
                            <p><label for="Foto"><i class="fas fa-user"></i></label>
                            Elegi tu foto de perfil:</p>
                            <input type="file" id="Foto" name="Fotouss">
                        <br>
                        <br>
                        
                        <h3>Intereses:</h3>

                        <div class="interest">
                            <label for="Electro"> Electro</label><br>
                            <input type="checkbox" id="intereses" name="Electro" value="Electro">
                            <label for="Moda"> Moda</label><br>
                            <input type="checkbox" id="Electro" name="Moda" value="Moda">
                            <label for="Hogar"> Hogar</label>
                            <input type="checkbox" id="Moda" name="Hogar" value="Hogar">
                            <label for="Jugueteria"> Jugueteria</label>
                            <input type="checkbox" id="Hogar" name="Jugueteria" value="Jugueteria">
                            <label for="Vida sana"> Vida sana</label>
                            <input type="checkbox" id="Jugueteria" name="Vida sana" value="Vida sana">
                        </div>
                        
                        

                        <div class="gender">
                            <p>Sexo:</p>
                            <input type="radio" value="none" id="male" name="gender" checked/>
                            <label for="male" class="radio">Hombre</label>
                            <input type="radio" value="none" id="female" name="gender" />
                            <label for="female" class="radio">Mujer</label>
                            
                        </div>

                        <br>

                        <div class="btn-submit">
                            <button type="reset">Borrar</button>
                            <button type="submit" href="/">Enviar</button>
                        </div>

                    </div>  




                </form>    

            </div>
      
                <br>

        <footer>
            <div class="footer">
            <section>
                <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>  
            <section>
                <p><strong>Envío gratis desde los $2.500</strong></p>
                <p>Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>  
            <section>
                <p><strong>Seguridad de principio a fin</strong></p>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </section>
            </div>    
        </footer>   
    </body>      

                
</html>
